<div class="row featurette d-flex justify-content-center" style="background-color:white;">
    <footer class="container px-3 py-4">
        <p class="float-right">
            <a href="#" style="color:#3cb371">Back to top  | </a>
            <a href="{{url_for('sign_up')}}" style="color:#3cb371">SIGN UP  | </a>
            <a href="{{url_for('login')}}" style="color:#3cb371">LOGIN | </a>
            <a href="#" style="color:#3cb371">BLOG | </a>
            <a href="#" style="color:#3cb371">BMI | </a>
        </p>
        <p><span style="color:#3cb371">Privacy</a> | <a href="#" style="color:#3cb371">© 2017-2018 Company, Inc.</span> <a href="#" style="color:#3cb371">Privacy |</a>  <a href="#" style="color:#3cb371">Terms</a></p>
    </footer>
</div>