<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Lỗi Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'meta-data.html'%}
</head>
<body>
    <div class="row">
        <div class="col-6 col-md-4"></div>
        <div class="col-6 col-md-4 bg-light" style="width: 100px; height: 100px;">
            <h2>Sai Username hoặc Password</h2><br>
            <p class="text-center"><a href="{{url_for('login')}}">Đăng nhập lại</a></p>
        </div>
        <div class="col-6 col-md-4"></div>
    </div>
</body>
</html>